<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.te.dao.MedicineMapper" >
  <resultMap id="BaseResultMap" type="com.te.model.Medicine" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="old_id" property="oldId" jdbcType="INTEGER" />
    <result column="oldname" property="oldname" jdbcType="VARCHAR" />
    <result column="medicinename" property="medicinename" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="result" property="result" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="DATE" />
    <result column="is" property="is" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, old_id, oldname, medicinename, num, result, createtime, is
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.te.model.MedicineExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from medicine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from medicine
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from medicine
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.te.model.MedicineExample" >
    delete from medicine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.te.model.Medicine" >
    insert into medicine (id, old_id, oldname, 
      medicinename, num, result, 
      createtime, is)
    values (#{id,jdbcType=INTEGER}, #{oldId,jdbcType=INTEGER}, #{oldname,jdbcType=VARCHAR}, 
      #{medicinename,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, #{result,jdbcType=INTEGER}, 
      #{createtime,jdbcType=DATE}, #{is,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.te.model.Medicine" >
    insert into medicine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="oldId != null" >
        old_id,
      </if>
      <if test="oldname != null" >
        oldname,
      </if>
      <if test="medicinename != null" >
        medicinename,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="is != null" >
        is,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="oldId != null" >
        #{oldId,jdbcType=INTEGER},
      </if>
      <if test="oldname != null" >
        #{oldname,jdbcType=VARCHAR},
      </if>
      <if test="medicinename != null" >
        #{medicinename,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="result != null" >
        #{result,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=DATE},
      </if>
      <if test="is != null" >
        #{is,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.te.model.MedicineExample" resultType="java.lang.Integer" >
    select count(*) from medicine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update medicine
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.oldId != null" >
        old_id = #{record.oldId,jdbcType=INTEGER},
      </if>
      <if test="record.oldname != null" >
        oldname = #{record.oldname,jdbcType=VARCHAR},
      </if>
      <if test="record.medicinename != null" >
        medicinename = #{record.medicinename,jdbcType=VARCHAR},
      </if>
      <if test="record.num != null" >
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.result != null" >
        result = #{record.result,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=DATE},
      </if>
      <if test="record.is != null" >
        is = #{record.is,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update medicine
    set id = #{record.id,jdbcType=INTEGER},
      old_id = #{record.oldId,jdbcType=INTEGER},
      oldname = #{record.oldname,jdbcType=VARCHAR},
      medicinename = #{record.medicinename,jdbcType=VARCHAR},
      num = #{record.num,jdbcType=INTEGER},
      result = #{record.result,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=DATE},
      is = #{record.is,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.te.model.Medicine" >
    update medicine
    <set >
      <if test="oldId != null" >
        old_id = #{oldId,jdbcType=INTEGER},
      </if>
      <if test="oldname != null" >
        oldname = #{oldname,jdbcType=VARCHAR},
      </if>
      <if test="medicinename != null" >
        medicinename = #{medicinename,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=DATE},
      </if>
      <if test="is != null" >
        is = #{is,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.te.model.Medicine" >
    update medicine
    set old_id = #{oldId,jdbcType=INTEGER},
      oldname = #{oldname,jdbcType=VARCHAR},
      medicinename = #{medicinename,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      result = #{result,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=DATE},
      is = #{is,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>