<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.te.dao.SleepMapper" >
  <resultMap id="BaseResultMap" type="com.te.model.Sleep" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="old_id" property="oldId" jdbcType="INTEGER" />
    <result column="shutime" property="shutime" jdbcType="VARCHAR" />
    <result column="ise" property="ise" jdbcType="VARCHAR" />
    <result column="fen" property="fen" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="isok" property="isok" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, old_id, shutime, ise, fen, createtime, isok
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.te.model.SleepExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sleep
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sleep
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sleep
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.te.model.SleepExample" >
    delete from sleep
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.te.model.Sleep" >
    insert into sleep (id, old_id, shutime, 
      ise, fen, createtime, 
      isok)
    values (#{id,jdbcType=INTEGER}, #{oldId,jdbcType=INTEGER}, #{shutime,jdbcType=VARCHAR}, 
      #{ise,jdbcType=VARCHAR}, #{fen,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{isok,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.te.model.Sleep" >
    insert into sleep
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="oldId != null" >
        old_id,
      </if>
      <if test="shutime != null" >
        shutime,
      </if>
      <if test="ise != null" >
        ise,
      </if>
      <if test="fen != null" >
        fen,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="isok != null" >
        isok,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="oldId != null" >
        #{oldId,jdbcType=INTEGER},
      </if>
      <if test="shutime != null" >
        #{shutime,jdbcType=VARCHAR},
      </if>
      <if test="ise != null" >
        #{ise,jdbcType=VARCHAR},
      </if>
      <if test="fen != null" >
        #{fen,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isok != null" >
        #{isok,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.te.model.SleepExample" resultType="java.lang.Integer" >
    select count(*) from sleep
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sleep
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.oldId != null" >
        old_id = #{record.oldId,jdbcType=INTEGER},
      </if>
      <if test="record.shutime != null" >
        shutime = #{record.shutime,jdbcType=VARCHAR},
      </if>
      <if test="record.ise != null" >
        ise = #{record.ise,jdbcType=VARCHAR},
      </if>
      <if test="record.fen != null" >
        fen = #{record.fen,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isok != null" >
        isok = #{record.isok,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sleep
    set id = #{record.id,jdbcType=INTEGER},
      old_id = #{record.oldId,jdbcType=INTEGER},
      shutime = #{record.shutime,jdbcType=VARCHAR},
      ise = #{record.ise,jdbcType=VARCHAR},
      fen = #{record.fen,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      isok = #{record.isok,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.te.model.Sleep" >
    update sleep
    <set >
      <if test="oldId != null" >
        old_id = #{oldId,jdbcType=INTEGER},
      </if>
      <if test="shutime != null" >
        shutime = #{shutime,jdbcType=VARCHAR},
      </if>
      <if test="ise != null" >
        ise = #{ise,jdbcType=VARCHAR},
      </if>
      <if test="fen != null" >
        fen = #{fen,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isok != null" >
        isok = #{isok,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.te.model.Sleep" >
    update sleep
    set old_id = #{oldId,jdbcType=INTEGER},
      shutime = #{shutime,jdbcType=VARCHAR},
      ise = #{ise,jdbcType=VARCHAR},
      fen = #{fen,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      isok = #{isok,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>