<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.te.dao.IllnessDao" >
  <resultMap id="BaseResultMap" type="com.te.model.Illness" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="old_id" property="oldId" jdbcType="INTEGER" />
    <result column="old_name" property="oldName" jdbcType="VARCHAR" />
    <result column="illness_name" property="illnessName" jdbcType="VARCHAR" />
    <result column="ill_date" property="illDate" jdbcType="DATE" />
    <result column="drug_name" property="drugName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="treatment" property="treatment" jdbcType="VARCHAR" />
  </resultMap>
 
  <sql id="Base_Column_List" >
    id, old_id, old_name, illness_name, ill_date, drug_name, description, treatment
  </sql>
  <select id="getAll"  resultMap="BaseResultMap">
  		select <include refid="Base_Column_List" /> from illness where old_id=#{oldId}
  </select>
</mapper>