<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.te.dao.OldDao" >
  <resultMap id="BaseResultMap" type="com.te.model.Old" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, name, birthday, age, sex, introduction, img
  </sql>
  <select id="get" resultMap="BaseResultMap">
 	SELECT  <include refid="Base_Column_List" /> FROM old WHERE id=#{id}
 </select>
 <update id="update" parameterType="com.te.model.Old">
 	UPDATE old SET
 	birthday=#{birthday},age=#{age},sex=#{sex}
 	WHERE id=#{id}
 	
 </update>
</mapper>