<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.te.dao.PersonalchronicleDao" >
  <resultMap id="BaseResultMap" type="com.te.model.PersonalChronicle" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="old_id" property="oldId" jdbcType="INTEGER" />
    <result column="old_name" property="oldName" jdbcType="VARCHAR" />
    <result column="important_name" property="importantName" jdbcType="VARCHAR" />
    <result column="degree" property="degree" jdbcType="VARCHAR" />
    <result column="treatment" property="treatment" jdbcType="VARCHAR" />
    <result column="normalflag" property="normalflag" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, old_id, old_name, important_name, degree, treatment, normalflag, createtime
  </sql>
  <select id="getAll"  resultMap="BaseResultMap">
  		select <include refid="Base_Column_List" /> from personalchronicle where old_id=#{oldId}
  </select>
</mapper>