<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.te.dao.RiZhiDao">

    <insert id="insert" parameterType="com.te.model.RiZhi" keyProperty="id" useGeneratedKeys="true">
        insert into rizhi
        (type, parentType, content, username, createtime)
        VALUES
        (#{type}, #{parentType}, #{content}, #{username}, #{createtime, jdbcType=DATE})
    </insert>

</mapper>